body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #a86c48;
    color: white;
    padding: 20px;
}

.container {
    margin-top: 50px;
}

.buttons button {
    font-size: 20px;
    padding: 15px 30px;
    margin: 10px;
    cursor: pointer;
    background-color: #5b2c22;
    color: antiquewhite;
}

button:focus {
    outline: none;
}

#result {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #5b2c22;
}

#scoreBoard {
    margin-top: 10px;
    font-size: 20px;
    color: #5b2c22;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer a{
    color: white;
}

footer a:hover{
    color: #f0f0f0;
}

